# Binaries
tweego
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Coverage tool (specifically when used with LiteIDE)
*.out

# Scripts
*.sh

# Documentation
*.html

# Development
.vscode
*.code-workspace
go.sum

# Builds & distribution
dist/
licenses/
node_modules/

# Testing
storyformats/
prerelease.go

# Miscellaneous
_*
CHANGELOG*
TODO*
